.container {
  border: 20px solid var(--color-red-500);
  box-sizing: content-box;
  filter: url('#goo');
  height: 100px;
  overflow: hidden;
  position: relative;
  width: 100px;
}

.line {
  background: var(--color-red-500);
  height: 150px;
  left: 0;
  position: absolute;
  top: 0;
  transform-origin: center;
  width: 20px;
}

.radiant {
  animation: anim-radiant 4s infinite;
  transform: rotate(-40deg) translate(20px, -10px);
}

.dire {
  animation: anim-dire 4s infinite;
  transform: rotate(490deg) translate(-70px, -40px);
}

@keyframes anim-radiant {
  0% {
    transform: rotate(-40deg) translate(20px, -10px);
  }

  10% {
    transform: rotate(-40deg) translate(20px, -10px);
  }

  20% {
    transform: rotate(40deg) translate(-10px, -50px);
  }

  40% {
    transform: rotate(130deg) translate(-70px, -40px);
  }

  60% {
    transform: rotate(130deg) translate(-70px, -40px);
  }

  70% {
    transform: rotate(220deg) translate(-40px, 40px);
  }

  80% {
    transform: rotate(320deg) translate(20px, -10px);
  }

  100% {
    transform: rotate(320deg) translate(20px, -10px);
  }
}

@keyframes anim-dire {
  0% {
    transform: rotate(130deg) translate(-70px, -40px);
  }

  10% {
    transform: rotate(130deg) translate(-70px, -40px);
  }

  20% {
    transform: rotate(220deg) translate(-40px, 40px);
  }

  40% {
    transform: rotate(320deg) translate(20px, -10px);
  }

  60% {
    transform: rotate(320deg) translate(20px, -10px);
  }

  70% {
    transform: rotate(400deg) translate(-10px, -50px);
  }

  80% {
    transform: rotate(490deg) translate(-70px, -40px);
  }

  100% {
    transform: rotate(490deg) translate(-70px, -40px);
  }
}
