.button {
  background: none;
  border: 0;
  cursor: pointer;
  height: 64px;
  padding: 0;
  transition: box-shadow 0.15s ease-in-out, filter 0.15s ease-in-out;
  width: 88px;

  &:hover {
    box-shadow: var(--box-shadow-2);
    filter: brightness(1.1);
  }

  &.neutral {
    clip-path: circle(50%);
  }
}
