// Colors

$white: #fff;
$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #6c757d;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;
$black: #000;

$primary: #4a8855;
$secondary: #556370;
$success: #1ba452;
$info: #39809e;
$warning: #ccb66b;
$danger: #cc181b;
$light: #ddd;
$dark: #0c0d10;

// Options

$enable-rounded: false;
$enable-shadows: true;
$enable-gradients: true;

// Body

$body-bg: #161d25;
$body-color: $light;

// Links

$link-color: $success;
$link-hover-color: lighten($link-color, 15%);

// Components

$border-radius: 0;
$border-radius-lg: 0;
$border-radius-sm: 0;

// Fonts

$font-family-sans-serif: 'Open Sans', -apple-system, BlinkMacSystemFont,
  'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji',
  'Segoe UI Emoji', 'Segoe UI Symbol';

$font-size-base: 1.125rem;
$font-size-lg: ($font-size-base * 1.25);

$line-height-base: 1.5;

$headings-color: #eee;

$text-muted: #7a8490;

// Alerts

$alert-bg-level: 8;
$alert-border-level: 7;
$alert-color-level: -7;

// Forms

$input-bg: $black;
$input-disabled-bg: $gray-800;

$input-color: $gray-100;
$input-border-color: $black;
$input-box-shadow: unset;

$input-transition: none;

$form-feedback-invalid-color: lighten($danger, 20%);

// Navbar

$nav-link-padding-y: 0.5rem;
$nav-link-padding-x: 1rem;

$navbar-padding-y: 0;
$navbar-padding-x: 0;

$navbar-nav-link-padding-x: 0.75rem;

$navbar-brand-font-size: $font-size-lg;

$nav-link-height: (
  $font-size-base * $line-height-base + $nav-link-padding-y * 2
);
$navbar-brand-height: $navbar-brand-font-size * $line-height-base;
$navbar-brand-padding-y: ($nav-link-height - $navbar-brand-height);

$navbar-toggler-padding-y: 1rem;
$navbar-toggler-padding-x: 1rem;

$navbar-dark-color: #7a7d84;
$navbar-dark-hover-color: $light;
$navbar-dark-active-color: lighten($info, 40%);
$navbar-dark-disabled-color: #bbb;
$navbar-dark-toggler-icon-bg: url('data:image/svg+xml;charset=utf8,%3Csvg viewBox="0 0 30 30" xmlns="http://www.w3.org/2000/svg"%3E%3Cpath stroke="lightgrey" stroke-width="2" stroke-miterlimit="10" d="M2 7h25M2 15h25M2 23h25"/%3E%3C/svg%3E');
$navbar-dark-toggler-border-color: transparent;

// Card

$card-border-width: 0;

// Close

$close-color: #fff;

// Popovers

$popover-max-width: 400px;
$popover-border-color: $black;

$popover-body-padding-y: 0;
$popover-body-padding-x: 0;

$popover-arrow-width: 1rem;
$popover-arrow-height: $popover-arrow-width;
$popover-arrow-color: #252b30;

$popover-arrow-outer-color: fade-in($popover-border-color, 0.05) !default;
