@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700');

@import 'declarations';
@import 'bootstrap';

.bg-overlay {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.4));
}

.route-change-enter-active {
  animation: enter 400ms;
  animation-delay: 200ms;
  opacity: 0;
}

@keyframes enter {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.one-card {
  @include media-breakpoint-up(lg) {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
}

.card-enter-active {
  animation: card-anim 500ms ease-out forwards;
}

.card-leave-active {
  animation: card-anim 500ms ease-in reverse forwards;
}

@keyframes card-anim {
  from {
    opacity: 0;
    transform: translateY(50px);
  }
  to {
    opacity: 1;
    transform: none;
  }
}

.item-popover {
  background: linear-gradient(45deg, darken(#23323c, 3), darken(#23323c, 10));
  box-shadow: $box-shadow;
  max-width: 400px;

  .item-name {
    font-weight: $font-weight-bold;
    text-transform: uppercase;
  }

  .item-cost {
    color: $gray-600;
    font-weight: $font-weight-bold;
    margin: 0;
    text-transform: uppercase;

    .gold {
      color: #ffdc4b;
    }
  }

  .item-body {
    background: rgba(0, 0, 0, 0.3);
    padding: $spacer;
  }

  dt {
    background: linear-gradient(
      90deg,
      rgba(150, 180, 200, 0.3),
      rgba(150, 180, 200, 0.2)
    );
    font-weight: $font-weight-bold;
    padding: $spacer * 0.25 $spacer * 0.5;
  }

  dd {
    background: linear-gradient(
      90deg,
      rgba(150, 180, 200, 0.2),
      rgba(150, 180, 200, 0.1)
    );
    font-size: $font-size-sm;
    padding: $spacer * 0.25 $spacer * 0.5;
  }

  .active {
    color: #c9c9ff;

    dt {
      background: linear-gradient(
        90deg,
        rgba(100, 100, 255, 0.3),
        rgba(100, 100, 255, 0.2)
      );
    }

    dd {
      background: linear-gradient(
        90deg,
        rgba(100, 100, 255, 0.2),
        rgba(100, 100, 255, 0.1)
      );
    }
  }
}
