@import 'variables';

.container {
  background-color: var(--color-bg-strong);
  border-radius: $border-radius;
  box-shadow: var(--box-shadow-1);
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.title {
  background-color: var(--color-bg-stronger);
  font-size: 1.25rem;
  font-weight: bold;
  margin: 0;
  padding: 0.5rem 1rem;
  text-transform: uppercase;
}

.body {
  padding: 1rem;
}
