.loader {
  animation: fade-in 0.5s linear forwards, loading 5s linear infinite;
  background: radial-gradient(var(--color-red-500), transparent 75%);
  height: 8px;
  pointer-events: none;
  position: fixed;
  top: 0;
  width: 100%;
  will-change: background-position, opacity;
  z-index: 1;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes loading {
  0% {
    background-position-x: 0;
  }

  100% {
    background-position-x: 100vw;
  }
}
